.blueviolet {
	background-color: #6c1db6;
	z-index: 100;
}

.blueviolet:hover {
	background-color: #8a2be2;
	backdrop-filter: blur(50px);
}

.positionCenter,
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
