.loadC {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
}

.load {
	border-radius: 50%;
	width: 50px;
	height: 50px;

	border-top: 2px solid #b1afaf;
	border-right: 2px solid #656464;
	border-bottom: 2px solid #b1afaf;
	border-left: 2px solid #656464;

	animation: w 0.5s linear infinite;
}

@keyframes w {
	100% {
		transform: rotate(360deg);
	}
}
