.loadC {
	width: 100vw;
	height: 100px;
	margin-top: 30px;

	display: flex;
	justify-content: center;
}

.load {
	border-radius: 50%;
	width: 50px;
	height: 50px;

	border-top: 2px solid #b1afaf;
	border-right: 2px solid #b1afaf;
	border-bottom: 2px solid #b1afaf;
	border-left: 2px solid #656464;

	animation: w 0.9s linear infinite;
	margin-top: 30px;
}

@keyframes w {
	100% {
		transform: rotate(360deg);
	}
}
