 .mc {
	height: 100vh;
 }

 .blur_bg {
  background-image: url('./../../assets/bg_main.jpg');
  background-size: cover; 
  background-position: center; 
  position: absolute;

  top: 0;
  left: 0; 
  right: 0;
  bottom: 0;

  filter: blur(4px); 
}

.content {
  position: relative;
  z-index: 1; 
} 